.recipeList {
  border: 1px solid rgb(66, 36, 1);
  padding: 15px;
  margin: 20px 0px;
  border-radius: 12px;
  box-shadow: 6px 7px 5px rgba(66, 36, 1, 0.3);
  background-color: white;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h2 {
  margin-top: 0;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 5px;
}

.view {
  border: none;
  padding: 10px 20px;
  background-color: rgb(126, 77, 4);
  border-radius: 8px;
  width: 100%;
  color: white;
}

.foodImg {
  margin-top: 20px;
  width: 400px;
}

.addBtn {
  background-color: rgb(255, 255, 255);
  border: none;
  padding-top: 0px;
  margin: 0px;
  display: flex;
  float: right;
}

.fav {
  margin-top: 0px;
  display: block;
}

.recipeHead {
  float: left;
}

div::-webkit-scrollbar {
  width: 0px;
}

input[type="checkbox"]:checked + label {
  color: rgb(143, 77, 2);
  text-decoration: line-through;
}

.search {
  display: block;
  width: 100%;
}

.txtBox {
  float: right;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: white;
  border-radius: 8px;
}

.icn {
  color: rgb(126, 77, 4);
}

.Head {
  margin: 0px 0px;
}
