.navbar {
  margin: 0;
  width: 100%;
  height: 60px;
  background-color: rgb(126, 77, 4);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
}

.login {
  background-color: rgb(126, 77, 4);
  border: none;
  color: white;
  height: 100%;
  font-size: 17px;
  padding-top: 4.9px;
  cursor: pointer;
}

a {
  color: white;
  text-decoration: none;
  margin: 10px;
  font-size: 17px;
}

@media (max-width: 380px) {
  .navbar {
    flex-direction: column;
    height: auto;
    margin: 0px;
    padding: 0px;
  }

  a {
    margin: 5px 0;
  }

  .login {
    width: 100%;
    height: 30px;
  }
}